.footer {
  background-color: var(--hero-color);
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
}

.footer-box {
  text-align: center;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.adress-list__distance {
  margin-top: 9px;
  margin-bottom: 9px;
}

.adress-list__link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--primary-bg-color);
  @include font(null, 14px, 1.71, 0.03em);
}

.adress-list__info {
  color: rgba(255, 255, 255, 0.6);
  @include font(null, 14px, 1.71, 0.03em);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--action-color);
  }
}

.tab-box {
  @media screen and (min-width: 768px) {
    display: flex;

    align-items: baseline;
    justify-content: space-between;
    padding-right: 89px;
    padding-left: 76px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 0;
    padding-left: 0;

    margin-left: auto;
  }
}

.adress-list {
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
