.web {
  color: var(--action-color);
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  @include font(null, 24px, 1.16, 0.03em);

  @media screen and (min-width: 1200px) {
    @include font(null, 26px, 1.2, 0.03em);
  }
  margin-bottom: 15px;
}


