.mob-menu__open,
.mob-menu__close {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: block;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu__open {
  display: block;
  // justify-content: space-around;
  // justify-content: flex-end;

  background-color: #ffffff;
  border: none;
  &:hover,
  &:focus {
    fill: var(--action-color);
  }
}

.mob-menu__close {
  &:hover,
  &:focus {
    fill: var(--action-color);
  }
}

.mob-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  // height: 100vw;
  padding-top: 48px;

  transition: left 300ms, opacity 300ms, visibility 300ms;
}
.mob-menu {
  &.is-hidden {
    left: 100%;
  }
}
.mob-menu-contacts {
  margin-top: 302px;
}

.mob-menu-list {
  background-color: #ffffff;
}

.mob-menu-list__btn {
  font-family: Roboto, sans-serif;
  @include font(500, 40px, 1.17, 0.02em);
  color: #212121;
  &:hover,
  &:focus {
    color: var(--action-color);
  }
}

.mob-menu-list__item {
  &:nth-child(2) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.mob-menu-contacts {
  background-color: #ffffff;
}

.mob-menu-contacts__tel {
  font-family: Roboto, sans-serif;
  @include font(500, 34px, 1.17, 0.02em);
  color: #212121;

  color: var(--action-color);
}
.mob-menu-bottom {
  background-color: #ffffff;
  padding-bottom: 48px;
}

.mob-container {
  background-color: #fff;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu-contacts__item-mail {
  margin-top: 32px;
}

.mob-menu-contacts__mail {
  font-family: Roboto, sans-serif;
  @include font(500, 24px, 1.16, 0.02em);
  color: #757575;
}

.mob-menu-soc {
  margin-top: 64px;
  display: flex;
  margin-bottom: 48px;
  width: 357px;
}

.mob-menu-soc__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.mob-menu__open-icon {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu-soc__info {
  color: var(--action-color);
}
