.section {
  padding: 60px 0px 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px 94px 0px;
  }
}

.adv-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.customers {
  text-align: center;
}

.follow-section {
  text-align: start;
  margin-left: 93px;
  margin-bottom: 40px;
  width: 570px;
  height: 86px;
}
