.section {
  padding: 60px 0px 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px 94px 0px;
  }
}

.adv-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers {
  text-align: center;
}

.follow-section {
  margin-top: 60px;
  //   text-align: start;
  //   margin-left: 93px;
  //   margin-bottom: 40px;
  //   width: 570px;
  //   height: 86px;
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.section.business-section {
  @media screen and (min-width: 480px) {
    padding: 0;
  }
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}
